@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Common */

.page {
  color: #333333;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.button {
  color: #ffffff;
  background-color: #83B3D3;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-secondary {
  background-color: #756257;
}

.button-large {
  font-size: 20px;
}

/* Header */

.site-menu {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.site-menu-link {
  color: #000000;

  text-decoration: none;
}

/* Footer */

.footer-phone {
  color: #000000;

  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/* Main */

.main-header {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/background/main-header.jpg");
  background-size: cover;
}

.main-heading {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
}

/* Section */

.section-title {
  color: #000000;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

/* Forms */

.field-input {
  font-family: inherit;
  font-size: 18px;

  background-color: #f2f2f2;
}

/* Range */

.range-input {
  color: #ffffff;
  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
}

.range-title {
  opacity: 0.3;
}

/* Card */

.card-title {
  font-size: 24px;
  line-height: 31px;
}

.card-link {
  color: #000000;

  text-decoration: none;
}

.card-rate {
  font-size: 16px;
  text-transform: uppercase;
}

/* Pagination */

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;

  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

/* Advantages */

.advantages-list-inner {
  color: #333333;
  background-color: #ffffff;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-large {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-list-inner .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-large > .advantages-title {
  color: #ffffff;
}

.advantages-text {
  line-height: 21px;
}

/* Subscribe */

.subscribe-primary .section-title {
  color: #ffffff;
}

.subscribe-primary {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/background/subscribe.jpg");
  background-size: cover;
}

/* Filter */

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.filter-reset {
  color: #ffffff;
  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
}
